<h2>From Component</h2>
<div class="well">
	<form class="form" #myForm="ngForm" (ngSubmit)="registerMe()">
		<div class="form-group">
			<label>First Name: </label>
			<input type="text" name="txtFirstName" required ngModel>
		</div>
		<div class="form-group">
			<label>Last Name: </label>
			<input type="text" name="txtLastName" required ngModel>
		</div>
		<div class="form-group">
			<label>Email: </label>
			<input type="email" name="txtEmail" required ngModel>
		</div>
		<button type="submit" [disabled]="!myForm.form.valid" class="btn btn-default btn-lg">Register User!!</button>
	</form>
</div>